<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Design</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<img th:src="@{/images/pizza-cloud.png}">

<form method="post" th:action="@{/logout}">
    <input type="submit" value="Wyloguj">
</form>

<h1>Skomponuj własną pizzę</h1>

<form method="post" th:action="@{/design}" th:object="${design}">
    <div>
        <span th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}">Nie wybrano składników</span>
    </div>
<div class="grid">
    <div >
        <h3>Wybierz ciasto</h3>
        <div th:each="ingredient : ${dough}">
            <input th:name="ingredients" th:type="checkbox" th:value="${ingredient.id}">
            <span th:text="${ingredient.name}">Skladnik</span>
        </div>
    </div>
    <div>
        <h3>Wybierz mięso</h3>
        <div th:each="ingredient : ${meat}">
            <input th:name="ingredients" th:type="checkbox" th:value="${ingredient.id}">
            <span th:text="${ingredient.name}">Skladnik</span>
        </div>
    </div>
    <div>
        <h3>Wybierz sery</h3>
        <div th:each="ingredient : ${cheese}">
            <input th:name="ingredients" th:type="checkbox" th:value="${ingredient.id}">
            <span th:text="${ingredient.name}">Skladnik</span>
        </div>
    </div>
    <div>
        <h3>Wybierz warzywa</h3>
        <div th:each="ingredient : ${vegetable}">
            <input th:name="ingredients" th:type="checkbox" th:value="${ingredient.id}">
            <span th:text="${ingredient.name}">Skladnik</span>
        </div>
    </div>
    <div>
        <h3>Wybierz sosy</h3>
        <div th:each="ingredient : ${sauce}">
            <input th:name="ingredients" th:type="checkbox" th:value="${ingredient.id}">
            <span th:text="${ingredient.name}">Skladnik</span>
        </div>
    </div>
</div>
    <h3>Nadaj nazwę swojej pizzy</h3>
    <label for="name">Nadaj nazwę swojej pizzy</label>
    <input id="name" type="text" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Błąd nazwy</span>
    <input type="submit" value="Wyślij zamówienie">
</form>
</body>
</html>